<!DOCTYPE html>
<html>
<head>
  <title>Mytwitterapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!--LogOut Button if user is logged in -->
<% if @user %>
<%= link_to 'logout' , '/logout'%>
<%= @user.email %>
<% end %>

<%= yield %>

</body>
</html>
